{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link type="text/css" href="{% static 'main/css/index.css' %}" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
<div class="main">
	<div class="had">
	<div class="contacts">
		<div class="number"><p>8 800 555 35 35</p></div>

		<div class="vk">
			<div class="vk_pic"></div>
		</div>
		<div class="tg">
			<div class="tg_pic"></div>
		</div>
		<div class="tw">
			<div class="tw_pic"></div>
		</div>
	</div>
	<div id="2" class="had_text"><h1>Магазин вкусной пиццы</h1></div>
	<div class="main_block">
		<div class="main_text"><h1>"Егорка"</h1></div>
	    <div class="main_text_buttom"><button><a href="#1">Магазин</a></button></div>
	</div>	
	</div>
	<div class="middle_text">
		<div class="text1"><p>Самая вкусная пицца только у нас</p></div>
		<div class="text2"><p>Листай ниже</p></div>
	</div>
	<div class="zero"></div>
	<div id="1" class="menu">
		<div class="menu_middle_block">
			<div class="item">
			<div class="item_anim">
				<div class="image_block">
					<div class="image"><img src="{% static 'main/images/pizza.png' %}" alt=""></div>
				</div>
				<div class="text_block">
				<div class="content">
					<div class="details">

						<h2>"Название"<br><span>Цена</span></h2>
						<div class="info">
							<h3>Состав:<br><span>Помидорка, огурчик, ананасик, курочка</span></h3>
						</div>
                        <div class="btn"><button>В корзину</button></div>
					</div>

				</div>	
				</div>
			</div>
			</div>
			<div class="item">
			<div class="item_anim">
				<div class="image_block">
				<div class="image"><img src="{%static 'main/images/pizza.png'%}" alt=""></div>
				</div>
				<div class="text_block">
				<div class="content">
					<div class="details">

						<h2>"Название"<br><span>Цена</span></h2>
						<div class="info">
							<h3>Состав:<br><span>Помидорка, огурчик, ананасик, курочка</span></h3>
						</div>
						<div class="btn"><button>В корзину</button></div>
					</div>

				</div>	
				</div>
			</div>
			</div>
			<div class="item">
			<div class="item_anim">
				<div class="image_block">
				<div class="image"><img src="{%static 'main/images/pizza.png'%}" alt=""></div>
				</div>
				<div class="text_block">
				<div class="content">
					<div class="details">

						<h2>"Название"<br><span>Цена</span></h2>
						<div class="info">
							<h3>Состав:<br><span>Помидорка, огурчик, ананасик, курочка</span></h3>
						</div>
						<div class="btn"><button>В корзину</button></div>
					</div>

				</div>	
				</div>
			</div>
			</div>
			<div class="item">
			<div class="item_anim">
				<div class="image_block">
				<div class="image"><img src="{%static 'main/images/pizza.png'%}" alt=""></div>
				</div>
				<div class="text_block">
				<div class="content">
					<div class="details">

						<h2>"Название"<br><span>Цена</span></h2>
						<div class="info">
							<h3>Состав:<br><span>Помидорка, огурчик, ананасик, курочка</span></h3>
						</div>
						<div class="btn"><button>В корзину</button></div>
					</div>

				</div>	
				</div>
			</div>
			</div>
			<div class="item">
			<div class="item_anim">
				<div class="image_block">
				<div class="image"><img src="{%static 'main/images/pizza.png'%}" alt=""></div>
				</div>
				<div class="text_block">
				<div class="content">
					<div class="details">

						<h2>"Название"<br><span>Цена</span></h2>
						<div class="info">
							<h3>Состав:<br><span>Помидорка, огурчик, ананасик, курочка</span></h3>
						</div>
						<div class="btn"><button>В корзину</button></div>
					</div>

				</div>	
				</div>
			</div>
			</div>
			<div class="item">
			<div class="item_anim">
				<div class="image_block">
				<div class="image"><img src="{%static 'main/images/pizza.png'%}" alt=""></div>
				</div>
				<div class="text_block">
				<div class="content">
					<div class="details">

						<h2>"Название"<br><span>Цена</span></h2>
						<div class="info">
							<h3>Состав:<br><span>Помидорка, огурчик, ананасик, курочка</span></h3>
						</div>
						<div class="btn"><button>В корзину</button></div>
					</div>

				</div>	
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="zero"></div>
	<div class="dostavka">
		<div class="text1"><a > О ДОСТАВКЕ</a></div>
		<div class="text2"><a >Мы находимся в Нижнем Новгороде. Вы можете <br>самостоятельно забрать покупку из точки<br> самовывоза или заказать доставку курьером по <br>городу в пределах КАД. Также доступна доставка<br> почтой по всей России.</a></div>
	</div>
	<div class="zero2"></div>
	<div class="cont">
		<div class="middle_cont">
			<div class="had_cont"><a >Контакты </a></div>
			<div class="text_cont"><a >Мы всегда стремимся подружиться с нашими<br> клиентами, звоните и пишите нам по любым<br> вопросам. </a></div>
			<div class="tel"><h3>Телефон:8 800 555 35 35<br> E-mail: <span>hello@instore.com </span></h3></div>
			<div class="button2"><button><a href="#2">В начало</a></button></div>
		</div>
	</div>







</div>	
</body>
</html>
